<div class="wrapper">

  <!-- Navbar -->
  <app-starter-nav-bar></app-starter-nav-bar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-starter-main-side-bar></app-starter-main-side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <app-starter-control-side-bar></app-starter-control-side-bar>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <app-starter-footer></app-starter-footer>
</div>
<!-- ./wrapper -->
