<div class="wrapper">

  <!-- Navbar -->
  <app-dashboard-nav-bar></app-dashboard-nav-bar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-dashboard-main-side-bar></app-dashboard-main-side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->
  <app-dashboard-footer></app-dashboard-footer>

  <!-- Control Sidebar -->
  <app-dashboard-control-side-bar></app-dashboard-control-side-bar>
  <!-- /.control-sidebar -->
</div>
